{
.appVersion = "3134";
.formatVersion = 3;
date = "2024-11-17 04:39:00 +0000";
familyName = "New Font";
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = -16;
},
{
over = -16;
pos = -200;
}
);
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = baseline;
},
{
type = descender;
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
